body
{
  background: linear-gradient(#77C66E 50%, #dea5a4 50%);
}

#run
{
    border-radius:50%;
    width:200px;
}

h1
{
  font-family: 'Dancing Script', cursive;
  text-shadow:2px 2px #F8BBD0;
  font-size:50px;
}

p
{
    font-family: 'Dancing Script', cursive;
    font-size:30px;
}

ul
{
    font-size:25px;
    font-family: 'Dancing Script', cursive;
     cursor: pointer;
    
}

div
{
    text-align: center;
}


